services:

    Siciarek\SymfonyCommonBundle\Form\ContactListEntryType:
        arguments:
            - '@scb.utils_filter'
        tags:
            - { name: form.type }

    Siciarek\SymfonyCommonBundle\Form\DocumentType:
        arguments:
            -
                target_directory: '%document_target_directory%'
        tags:
            - { name: form.type }

    scb.utils_filter:
        class: Siciarek\SymfonyCommonBundle\Services\Utils\Filter
        arguments:
            -
                slug:
                    separator: '-'
                email address:
                    lowercase: true
                phone number:
                    defaultRegion: PL
                    numberFormat: !libphonenumber\PhoneNumberFormat::E164

    scb.net_url:
        class: Siciarek\SymfonyCommonBundle\Services\Net\Url

    scb.net_curl:
        class: Siciarek\SymfonyCommonBundle\Services\Net\Curl

    scb.model_contact_list:
        class: Siciarek\SymfonyCommonBundle\Services\Model\ContactList
        arguments:
            - '@doctrine.orm.entity_manager'
            - '@scb.utils_filter'

    scb.model_address_book:
        class: Siciarek\SymfonyCommonBundle\Services\Model\AddressBook
        arguments:
            - '@doctrine.orm.entity_manager'
            - '@scb.utils_filter'

    scb.model_document_folder:
        class: Siciarek\SymfonyCommonBundle\Services\Model\DocumentFolder
        arguments:
            - '@doctrine.orm.entity_manager'
            - '@scb.utils_filter'

    Siciarek\SymfonyCommonBundle\Model\TimestampableOnCreate\EventListener:
        tags:
            - { name: doctrine.event_listener, event: prePersist, connection: default }
