# Custom
/.idea
/composer.phar
/phpunit.phar
/composer.lock
/phpunit.xml
/build.xml
/properties.conf
/.web-server-pid
/temp.*
/temp/
/bin/
/vendor/
/app/
/var/
/web/
/Resources/views/Default/
!/Resources/views/Form/fields.html.twig
/Controller/DefaultController.php
/Form/DummyType.php
/Form/DummyCategoryType.php
