dist: trusty
sudo: required

language: php
sudo: false
php:
  - 7.0
  - 7.1
  - 7.2

services:
  - mysql

before_install:
  - mysql -e 'CREATE DATABASE IF NOT EXISTS test;'

before_script:
  - rm -rf ./app
  - tar -zxf ./Tests/data/app.tar.gz
  - composer install
  - bin/console doctrine:database:drop --force
  - bin/console doctrine:database:create
  - bin/console doctrine:schema:create
  - bin/console doctrine:schema:update --force
  - bin/console doctrine:schema:validate

script: phpunit
